html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
  background: #F2E9D8;
}

h1 {
text-align: center;
padding-top: 1rem;
font-family: "Trebuchet MS", "Geneva", "Candara", sans-serif;
}

#map1 {
  height: 500px;
  width: 80%;
  margin-top: 3rem;
  border: 1px solid;
  align-items: center;
  padding-bottom: 1rem;
}

.button {
  background-color: #555555;
  border-radius: 12px;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
